* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/img/neom-Kcna6XWDY7w-unsplash.jpg);
    background-size: cover;
}

#main-container {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
    padding: 20px;
    width: 90%;
    max-width: 450px;
}

input {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 1em;
    background-color: #7c7c7c2b;
    color: white;
    width: 80%;
}

.search-button {
    border: none;
    border-radius: 50px;
    outline: none;
    padding: 10px;
    cursor: pointer;
    float: right;
    background-color: #7e7979a9;
}

.search-button img {
    width: 20px;
}

h2 {
    color: white;
    font-size: 1.75em;
    font-weight: 300;
    padding-top: 20px;
}

.temperature {
    color: white;
    font-size: 1.25em;
    padding-top: 10px;
}

.weather-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.climatic-condition {
    color: white;
    padding-left: 10px;
    text-transform: capitalize;
}

.humidity {
    color: white;
    padding-top: 5px;
}

.span-more-info-button {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.open-more-info-button {
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    font-size: 1.4em;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.more-info.hidden {
    display: none;
}

.main-container.show-more .more-info {
    padding-top: 25px;
    display: block;
}

.max-temperature , .min-temperature , .max-temperature , .feels-like , .pressure {
    color: white;
    padding-top: 10px;
}